/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: lightgreen;
}


@keyframes changeBackgroundColor {
  0% {
    background-color: lightgreen;
  }
  50% {
    background-color: lightblue;
  }
  100% {
    background-color: lightcoral;
  }
}

/* Apply animation to body */
body {
  animation: changeBackgroundColor 5s ease infinite alternate; 
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 150px;
  transition: background-color 0.5s ease; 
}

button:hover {
  background-color: #555;
}

.description {
  width: 200px;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  display: block; 
}

.description-content {
  display: none;
}

.description.active .description-content {
  display: block; 
}

.description.active {
  display: block;
  background-color: #ccc;
}

.description.show {
  display: block;
  background-color: #ccc;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
}

.social-icons {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #333;
  color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  button {
    min-width: 100px;
  }
}
